* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    }

.title {
    background-color: darkgreen;
    font-size: 72px;
}

body {
    background-color: slategray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.subtitle {
    color: black;
    font-size: 60px;
}